@{
    Layout = "Layout";
}
<div>
    <h2>Mario Elias Espinoza Reyes</h2>
    <img src="~/FotoPerfil/pfp.jpeg" />
    <p>Ultima vez visto: Ahora</p>
    <p>"To live is to not run away"</p>
    <p>Se unió el 19/06/2023</p>
</div>
<div>
    <h3>Datos de Mario</h3>
    <p>Edad: 21</p>
    <p>Género: Masculino</p>
    <p>Estudia en ITESRC</p>
    <p>Ingeniería en Sistemas Computacionales</p>
    <p></p>
</div>